@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
body{
    background:lightgray ;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
}
@media screen and (min-width: 481px){
    .Container{
        position: relative;
        width: 100%;
        max-width: 1000px;
        min-height: 1000px;
        background:white ;
        display: grid;
        grid-template-columns: 1fr 2fr;
        box-shadow: 0 35px 55px rgba(10, 10, 10, 0.3)
    }
}
@media screen and (max-width:480px){
.Container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background:white ;
    display: grid;
    grid-template-rows: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(10, 10, 10, 0.3)
}
}

.Container .Left_Side{
    position: relative;
    display:block;
    background:rgb(11, 11, 69) ;
    padding: 40px;
}

.ProfileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.ProfileText .ImgBox{
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    padding: 20px;
}
.ProfileText .ImgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ProfileText h2{
    font-size: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-weight: 700;
}
.ProfileText h2 span{
    font-size: 18px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-weight: 500;
}
.Contact{
    position: relative;
    width: 200px;
    max-width: 200px;
    min-height: auto;
    background:rgb(11, 11, 69);
}
.Contact .Up_Side{
    font-size: 16px;
    margin-top: 10px;
    color: white;
    text-align: left;
    font-weight: 500;

}
.Contact .Down_Side{
    position: relative;
    margin-top: 20px;
    margin-bottom:20px;
    padding: 0px;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.Contact .Down_Side .Yellow_Container{
    position: relative;
    background:yellow ;
    margin-top: 0px;
    padding: 20px;
    width: 20px;
    height: 118px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.Contact .Down_Side .Yellow_Container .icon{
        color: rgb(11, 11, 69);
    
}
.Contact .Down_Side .Text_Container{
    position: relative;
    margin-top: 20px;
    margin-left:10px;
    padding: 0px;
    width: 160px;
}
.Contact ul{
    position: relative
}
.Contact ul li{
    position: relative;
    list-style: none;
    max-width: 10px 0;
}
.Contact ul li span{
    color: white;
    font-weight: 300;
    font-size:14px;
}
a{
    color:white;
    font-weight: 300;
    font-size:14px;
}


.Container .Right_Side{
    position: relative;
    background:rgb(255, 255, 255) ;
    padding: 40px;
}
.Informacje{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.InfNag{
    color:black;
    font-style: sans-serif;
    padding-bottom: 0px;
    border-top: 1px solid rgba(11, 11, 69, 0.3);
}
.Right_Side p{
    padding: 10px;
}
.Right_Side li{
    list-style: none;
    padding: 10px;
}
strong{
    font-weight: 700;
}

